input {
    display: flex;
    flex-direction: column;
}

#listTitle {
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
}

span {
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
}

#filterTasksContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li > button {
    margin-left: 10px;
}